@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Changa:wght@200..800&family=Noto+Nastaliq+Urdu:wght@400..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


* {
  font-family: "Rubik", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link.active {
    color : #fea116;
}

.navbar-dark .navbar-nav .nav-link {
    margin-right: 30px;
    padding: 25px 0;
    color: #FFFFFF;
    font-size: 15px;
    text-transform: uppercase;
    outline: none;
}

.carousel-caption {
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
}
.bg-image {
    background-image: url('../public/assets/img/team22.jpg');
    width: 100%;
    height: 100%;
}
.Logo{
    width: 80px;
    height: auto;
}
.GAllry_bg{
    background-image: url("../public/assets/img/team24.jpg");
   /* background-size: 100%;
     object-fit: cover;
    height: 100vh;
    /* background-repeat: no-repeat; */

    background-color: #cccccc;
    /* height: 500px; */
    background-position: center;
    /* background-repeat: no-repeat; */
    background-size: cover;
    position: relative;
  
}

.img_Line_Bnner{
    border-radius: 20px;
    animation-name: frist;
    animation-duration: 5s;
    animation-delay: 1s;
    margin-right: 100%;
    width: 100px;
    opacity: .2;
    animation-fill-mode: both;
  }
  
  @keyframes frist {
     0%   { width: 100px; opacity: .2; margin-right: 100%;}
  
     100%   { width: 100%; opacity: 1; margin-right:0%;}
   
  }
.img_Line_Bnner_sec{
    border-radius: 20px;
    animation-name: sec;
    animation-duration: 4s;
    animation-delay: 1s;
    margin-right: 100%;
    width: 100px;
    opacity: .2;
    animation-fill-mode: both;
    transform: rotate(0deg);
  }
  
  @keyframes sec {
     0%   { width: 100px; opacity: .2; margin-right: 100%; transform: rotate(0deg);}
     100%   { width: 100%; opacity: 1; margin-right:0%; transform: rotate(360deg);}
   
  }
.img_about{
    /* border-radius: 20px; */
    animation-name: img_about;
    animation-duration: 3s;
    /* animation-delay: 1s; */
    margin-right: 100%;
    /* width: 100px; */
    opacity: .2;
    animation-fill-mode: both;
    /* transform: rotate(0deg); */
    transition: -100%;
    /* transform: ; */
  }
  
  @keyframes img_about {
     0%   { opacity: .2; margin-right: 100%;}
     50%   { opacity: .7; margin-right:50%; }
     100%   { opacity: 1; margin-right:0%; }
   
  }